<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/File.css' %}" rel="stylesheet">
</head>
<body>
<h1>HEY THANK YOU!!! for submitting form. </h1>
<h5><a href="https:/127.0.0.1:8000/welcome.html">To Enter New Data Click Me...</a></h5>
</body>
</html>