<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Authentication</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="css/MyFile.css" rel="stylesheet">
</head>
<body>
<nav class='navbar navbar-default navbar-inverse'>
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CORE Banking</a>
        </div>
        <ul class='nav navbar-nav'>
            <li><a href="/cust">Customer</a></li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
            <li><a href="/regis">SignUp</a></li>
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/accounts/logout">Logout</a></li>
        </ul>
    </div>
</nav>
{% block body_block %}
{% endblock %}
</body>
</html>