<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sunny William</title>
    <style type="text/css">
        h1{
            color:red;font-family:tahoma;
            font-size:30px;text-decoration:overline;
        }

        h5{
            color:green;font-family:candara;
            font-size:30px;text-decoration:underline;
        }

        h6{
            color:#FF00FF;font-family:Century Gothic;
            font-size:30px;text-decoration:line-through;
        }


    </style>
</head>
<body>
    <h1>Welcome To Django Templates</h1>
    <h5>It is Good Programming</h5>
    <h6>ThankU Guys...!!!</h6>
</body>
</html>