h2{
	text-align:center
}
body{
	background-image:url(https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500.jpeg);
	background-repeat:no-repeat;
	background-size:cover;
	color:red;
}
h1{
	color:purple;font-family:tahoma,font-size:30px;
	text-align:center
}