<html>
<head>

    <title>contact us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<div class="container">

<div class="col-sm-6" style="margin-top: 50px">
<h2 class="text-center">Mail Sending Page..!!</h2>
<hr>
 <form action="" method="post" class="">
{% csrf_token %}

<div class="col-sm-6">
	{{ form.name.label_tag }}
	{{ form.name.errors }}
	{{ form.name }}
</div>
<div class="col-sm-6">
	{{ form.email.label_tag }}
	{{ form.email.errors }}
	{{ form.email }}
</div>
<div class="col-sm-12">
	{{ form.subject.label_tag }}
	{{ form.subject.errors }}
	{{ form.subject }}
</div>


<div class="col-sm-12">
	{{ form.message.label_tag }}
	{{ form.message.errors }}
	{{ form.message }}
</div>


<div class="col-sm-12" style="margin-top: 20px">
 <button type="submit" name="save" class="btn btn-primary">submit </button>
</div>
 </form>
</div>
    </div>
</body>
</html>



