<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="col-md-offset-3 col-md-6">
	    <div class="page-header">
		    <h1><a href="{% url'home' %}" class="top-menu">Companies List</a></h1>
	    </div>
	    <h3><u>{{ instance.company_name }}details</u></h3>
	    <h4>company id:{{ instance.id }}</h4><br/>
	    <h4>company image:<img src='{{ instance.company_logo.url }}'/></h4><br/>
	    <h4>company city:{{ instance.company_city }}</h4>
    </div>
</body>
</html>