<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Templates..!!</title>
</head>
<body>
    <table>
        <tr>
            <th>StdNo</th>
            <th>StdName</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>101</td>
            <td>Sunny</td>
            <td>Pass</td>
        </tr>
        <tr>
            <td>102</td>
            <td>Akash</td>
            <td>Fail</td>
        </tr>
    </table>
</body>
</html>