<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee form...!!!!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'myfile.css' %}" rel="stylesheet"/>
</head>
<body>
<h1>EMPLOYEE sample form..!!!!!</h1>
<div class="container" align="center">
<form method="post">
{{ form.as_p }}
  <input type="submit" value="Employee" class="btn btn-success">
</form>
</div>
</body>
</html>
